.search-bar{
    display:flex;
    justify-content: space-between ;
    align-items: center;
}
#searchInput{
    width:  100% !important;

}

.search-bar i{
    font-size: 3em;
    text-align: center;
}
.forecast-card{
border: 1px solid black;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.forecastminmax{
    display:flex;
 
    
}

.forecast-block{
    display:flex;

    justify-content: space-between;
}
.weatherIcon{
    filter: grayscale(100%);
    width: 100%;
}

