.search-bar{
    display:flex;
    justify-content: space-between ;
}
.search-bar > input{
    width: 50%;
}


.forecast-card{
border: 1px solid black;
}
.forecast-card>img{
    width: 50px;
}

.forecastminmax{
    display:flex;
 
    
}

.forecast-block{
    display:flex;

    justify-content: space-between;
}