body, html {
    height: 100%; 
   
    display: flex;
    flex-direction: column;

    
}
body {
    background-image: url('../assets/windows_xp_bliss-wide.jpg');  
    background-size: cover;                     
    background-position: center center;          
    background-repeat: no-repeat;               
    height: 100vh;                               

}

h3{
    font-size: 24px;
}
.search-bar{
    display:flex;
    justify-content: space-between ;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.5); /*50% opacity*/
   
    
}
.search-area{
    width:100%;
}

#searchInput{

    border: .5px solid black;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.5); /*50% opacity*/
    font-size: 1.5rem;
}


.search-bar i{
    font-size: 3em;
    text-align: center;
    padding-left:1rem
}



#previousDropDownList{
    width:100%;
}
#favoritesDropDownList{
    width:100;
}

#maincontainer{
    margin-top:10%;
    display:flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 3rem;
}
#currentSection{
    background-color:rgba(255, 255, 255, 0.5); /*50% opacity*/
    border-radius:50px;
}
#currentIcon{
    width: 100%;

}
.forecast-card{
margin: 0 1rem;
font-size: 24px;
    width: 100%;
    border-radius: 2rem;
display:flex;
flex-direction: column;
align-items: center;
padding:1rem 0;
background-color:rgba(255, 255, 255, 0.5); /*50% opacity*/
}



.forecastminmax{
    display:flex;
 
    
}

#forecastSection{
    margin: 1rem 2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius:50px;
}
#favoriteSection{
    padding: 1rem 1rem;
    background-color:rgba(255, 255, 255, 0.5); /*50% opacity*/
    border-radius: 20px;
 
}
#favoriteitemsSection{
    display:flex;
    flex-direction: column;

}
#favoriteitemsSection >li{
  
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem ;
    padding:5px;
}


#favoriteitemsSection > li > span:hover {
    border: 1px solid black; 
    cursor:pointer;
    font-weight: bold;
    border-radius: 7px;

}
  
.weatherIcon{
    filter: grayscale(100%);
    width: 50;
}

.dropdown-menu li{
    font-size: 1.5rem;;
}
.dropdown-menu li:hover{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.inactive{
    display:none !important;
}

.active{
    display:block !important;
}

